## 2. Functions

#### 1. Functions

In [1]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [2]:
my_func

In [4]:
my_func()

default

In [5]:
my_func('new param')

new param

In [6]:
my_func(param1='new param')

new param

In [8]:
def square(x):
    return x**2

In [9]:
out = square(2)

In [10]:
print(out)

4

#### 2. Lambda expressions

In [38]:
def times2(var):
    return var*2

In [39]:
times2(2)

4

In [40]:
lambda var: var*2

In [41]:
f = lambda var: var*3

In [43]:
f(3)

9

In [54]:
z = lambda x=2,y=3:x*y

In [55]:
z()

6

In [57]:
z(3)

9

In [58]:
z(4)

12

In [59]:
z(4,5)

20

In [139]:
hplus = lambda *args: sum(args)
# 입력을 args라는 리스트에 넣어서 sum()으로 더한다
# * is used in front of the last parameter name to denote it as a 'tuple' reference

In [138]:
hplus(2,6,39,23)

70

In [60]:
def func(*arg):
    return arg

In [61]:
func(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

In [62]:
g = lambda x, *arg : x + arg

In [64]:
g((1,2),3,4,5)  #왜?

(1, 2, 3, 4, 5)

In [88]:
g((2,2,3),4,5)

(2, 2, 3, 4, 5)

In [91]:
h = lambda y, mng : x + mng

In [92]:
g(1,2,3,4,5)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

###### a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result

In [75]:
a = lambda x : x + 15

In [76]:
print(a)

<function <lambda> at 0x000002834440FEA0>

In [79]:
a(3)

18

In [80]:
print(a(4))

19

In [81]:
b = lambda y,z : y*z

In [82]:
b(3,4)

12

In [84]:
print(b(3,4))

12

######  내장함수에 Lambda를 이용한 방법

In [93]:
def plus(n):
    return lambda x: x+n

In [95]:
plus_3 = plus(3)
plus_5 = plus(5)
plus_7 = plus(7)

In [96]:
print(plus_3(6))
print(plus_5(7))
print(plus_7(8))

9
12
15

######  리스트에 이용하는 법: 사칙연산을 할 수 있는 리스트 함수 만들기

In [97]:
lambda_l = [lambda a,b:a+b,lambda a,b:a-b,lambda a,b:a*b,lambda a,b:a/b]
# lambda_1이라는 리스트에 사칙연산 4개의 lambda 함수를 값으로 정의함

In [98]:
print(lambda_l[0](3,4))  
print(lambda_l[1](3,4)) 
print(lambda_l[2](3,4)) 
print(lambda_l[3](3,4))

7
-1
12
0.75

In [99]:
def func_compute(n):
    return lambda x : x * n

In [100]:
result = func_compute(2)
print("Double the number of 15 =", result(15))

Double the number of 15 = 30

In [101]:
result = func_compute(7)
print("Double the number of 15 =", result(15))

Double the number of 15 = 105

#### 3. Map and Filter: 리스트의 모든 요소를 함수값에 넣어서 나온 값을 다시 리스트에 가져오는 역할

In [122]:
l = [1, 2]

In [123]:
for i in range(len(l)): # 리스트의 원소 갯수만큼 반복
    l[i] += 1           # 리스트의 원소들에 1을 추가
print(l)

[2, 3]

In [129]:
def f(x):
    return x+1

In [130]:
L = [1,2]

In [131]:
L1 = map(f(x), L)
print(L1)

NameError: name 'x' is not defined

In [132]:
L1 = map(lambda x: x+1, L)

In [133]:
print(L1)

<map object at 0x0000028344387B70>

In [134]:
L2 = list(map(lambda x: x+1, L))

In [135]:
print(L2)

[2, 3]

In [14]:
seq = [1,2,3,4,5]

In [15]:
map(times2, seq)

In [16]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [17]:
filter(lambda item: item%2 == 0, seq)

In [18]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [116]:
b = [1.1, 2.2, 3.3]

In [117]:
for i in range(len(b)):
    b[i] = int(b[i])

In [119]:
i

2

In [118]:
b

[1, 2, 3]

In [120]:
b = list(map(int, b)) # same results like the above

In [121]:
b

[1, 2, 3]

####  4. Methods

In [19]:
st = 'hello my name is Sam'

In [20]:
st.lower()

'hello my name is sam'

In [21]:
st.upper()

'HELLO MY NAME IS SAM'

In [22]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [23]:
tweet= 'Go Sports! #Sports'

In [25]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [26]:
tweet.split('#')[1]

'Sports'

In [28]:
d = {'key1':'item1','key2':'item2'}

In [29]:
d.keys()

dict_keys(['key1', 'key2'])

In [30]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [31]:
lst = [1,2,3]

In [32]:
lst.pop()

3

In [33]:
lst

[1, 2]

In [34]:
'x' in [1,2,3]

False

In [35]:
'x' in ['x','y','z']

True